body {
    background-color: var(--color-1);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.music-button {
    cursor: pointer;
    width: 40px;
    height: 40px;
}
.music-button img {
    width: 40px;
    height: 40px;
}
.container {
    margin-top: 50px;
    width: 60%;
    border: 1px solid black;
    max-width: 600px;
    border-radius: 15px;
    background-color: var(--color-2);
    display: flex;
    padding: 20px;
    box-shadow: 0 0 10px black;
    align-items: center;
    flex-direction: column;
}
.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
hr {
    border: 0;
    height: 0.5px;
    border-radius: 10px;
    background-color: var(--color-1);
    width: 100%;
}
/* User */
.user-info {
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

}
.user-info h1 {
    font-size: 2.3em;
    color: white;
    margin: 15px;
    text-shadow: 0px 5px 10px #000000;
    font-family: Arial, sans-serif;
}
.user-info > img {
    width: 200px;
    border-radius: 100%;
    box-shadow: 0 0 20px ;
}
video {
    width: 100px;
    margin: 5px;
    border-radius: 10px;
}
.music {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-size: cover;
    background-image: url('./2b74dbae3404bd472f384e88f7e11056.jpg');
    align-items: center;
}
.Progress-Bar {
    width: 105px;
    height: 10px;
    background-color: #0D0D0D;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Progress-Area {
    width: 0%;
    height: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: purple;
}
.counts {
    display: flex;
    width: 105px;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}
.counts h1 {
    font-size: 10px;
    margin: 0;
    margin: 1px;
    padding: 2px;
    background-color: #0D0D0D;
    border-radius: 5px;
    box-shadow: 0 0 0 black;
}
/* Contacts */
.contacts {
    min-height: 100px;
    display: flex;
    width: 60%;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    max-height: 30%;
}
.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    min-width: 200px;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    z-index: 1;
    background-color: #1d1d1d;
    box-shadow: 0 0 10px black;
}
.contact img {
    width: 50px;
    margin-left: 5px;
}
.contact h2 {
    user-select: none;
    margin-left: 10px;
    color: white;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.contact:hover {
    transition: ease 0.5s;
    scale: 1.10;
}
:root {

    --color-3: #595959;
    --color-2: #262626;
    --color-1: #0D0D0D;
}
.active {
    animation: changeColor 3s linear infinite;
}
@keyframes changeColor {
    0% { border-color: red; box-shadow: 0 0 10px red; }
    16% { border-color: yellow; box-shadow: 0 0 10px yellow;}
    33% { border-color: lime; box-shadow: 0 0 10px lime;}
    50% { border-color: cyan; box-shadow: 0 0 10px cyan;}
    66% { border-color: blue; box-shadow: 0 0 10px blue;}
    83% { border-color: magenta; box-shadow: 0 0 10px magenta;}
    100% { border-color: red; box-shadow: 0 0 10px red;}
}